<%= form_for(@foo) do |f| %>
<!-- <%= debug(f.field_helpers) %> -->
<%= f.jqvr %>
  <% if @foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foo.errors.count, "error") %> prohibited this foo from being saved:</h2>

      <ul>
      <% @foo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fld_presence %><br />
    <%= f.text_field :fld_presence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
